<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.hsblog_backend.repository.FriendMapper">

    <resultMap id="Friend" type="com.hs.hsblog_backend.entity.Friend">
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="commentEnable" column="comment_enable" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        content,comment_enable
    </sql>
    <update id="updateContent">
        update friend set content=#{content} where 1=1
    </update>
    <update id="updateCommentEnable">
        update friend set comment_enable=#{commentEnable} where 1=1
    </update>
    <select id="getFriendInfo" resultMap="Friend">
        select
        <include refid="Base_Column_List"/>
        from friend
    </select>
</mapper>
